*.swatch
*.swatches
*.psd
estate/out/*
estate\out\*
.vscode
.mayaSwatches
screenshot*
Layer *
*.mb
*.ma
.history
.idea
*- Copy.*

# just for now
*.bat
*.txa
out/*
*output_dynamic/*

*.fbx
*.dae
*.bam
*palette*
*.old
